apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  labels:
    app: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: juancastaneda20/auth:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9060
          env:
          - name: registry.host
            valueFrom: 
              configMapKeyRef:
                name: eureka-configmap
                key: eureka_url

---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth
  ports:
    - protocol: TCP
      port: 9060
      targetPort: 9060
