apiVersion: apps/v1
kind: Deployment
metadata:
  name: store-deployment
  labels:
    app: store
spec:
  replicas: 1
  selector:
    matchLabels:
      app: store
  template:
    metadata:
      labels:
        app: store
    spec:
      containers:
        - name: store
          image: juancastaneda20/store:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
	  env:
          - name: registry.host
            valueFrom: 
              configMapKeyRef:
                name: eureka-configmap
                key: eureka_url

---
apiVersion: v1
kind: Service
metadata:
  name: store-service
spec:
  selector:
    app: store
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
